body{
    background-color: white;
}
header{
 
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}
header h3{
   
    color: blue;
   
}
figcaption{
    background-color: rgb(209, 217, 175);
}
article{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}
footer{
    padding: 20px;

    text-align: center;
}
h5{
    color: blue;
}